.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 60px;
  min-width: auto;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  visibility: visible;
}

.slick-arrow i {
  font-size: 20px;
  line-height: 58px;
}

.slick-arrow.prev {
  transform: rotate(180deg);
}

.slick-arrow.slick-disabled {
  visibility: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px #eeeef9;
  background-color: #eeeef9;
  text-indent: -9999px;
  padding: 0;
}

.slick-dots li.slick-active button {
  outline: 1px solid #0055ff;
  border: 2px solid white;
  background-color: #0055ff;
}
