html {
  background: #fff;
}
body {
  color: #67687d;
}
a {
  color: #67687d;
}
a:hover,
a:focus {
  color: #000;
}

.dd-landing .navbar {
  background: #fff;
}
.dd-landing .nav-item .nav-link {
  color: #000;
}
.dd-landing .navbar-light .navbar-nav .nav-link {
  color: #000;
}
.dd-landing .navbar-light .navbar-nav .nav-link:focus,
.dd-landing .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.dd-landing .navbar-light .navbar-nav .nav-item::after {
  background-color: #ffd100;
}

.dd-landing .navbar-light .navbar-nav .active > .nav-link,
.dd-landing .navbar-light .navbar-nav .nav-link.active,
.dd-landing .navbar-light .navbar-nav .nav-link.show,
.dd-landing .navbar-light .navbar-nav .show > .nav-link {
  color: #000;
}
.dd-landing .navbar-light .navbar-toggler {
  color: #000;
}

.dd-landing .navbar-toggler-menu-icon span {
  background: #000;
}
.dd-landing .navbar-toggler-menu-icon.open span {
  background: #ffd100;
}
.dd-landing .btn-primary {
  background: #ffd100;
  color: #000;
}
.dd-landing .btn-primary:not(:disabled):not(.disabled).active,
.dd-landing .btn-primary:not(:disabled):not(.disabled):active,
.dd-landing .show > .btn-primary.dropdown-toggle,
.dd-landing .btn-primary:not(:disabled):not(.disabled):hover {
  color: #000;
  background: #ffd100;
}

.dd-landing .showcase .slide:after {
  background-color: #ffd100;
}

.dd-landing .how-it-works .card-image-icon {
  background-color: #ffd100;
}
.dd-landing .c-stepper__item {
  background: #ffd100;
}

.dd-landing #footer {
  border-top: 3px solid #ffd100;
}
.dd-landing #footer .social-icon {
  background-color: #eeeef9;
}
.dd-landing #footer .social-icon:hover {
  background-color: #ffd100;
}
@media screen and (max-width: 767px) {
  .dd-landing .navbar-light .navbar-nav .active > .nav-link,
  .dd-landing .navbar-light .navbar-nav .nav-link.active,
  .dd-landing .navbar-light .navbar-nav .nav-link.show,
  .dd-landing .navbar-light .navbar-nav .show > .nav-link {
    background-color: #ffd100;
  }
}
