/* Font Family  */
@font-face {
  font-family: "gilroyextrabold";
  src: url("../assets/fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../assets/fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 18px;
  height: 100%;
  background: #fff;
}
body {
  font-family: "roboto";
  font-size: 18px;
  font-weight: normal;
  color: #67687d;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
}
* {
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
}
a {
  color: #67687d;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

.dd-landing .container,
.dd-landing .container-fluid,
.dd-landing .container-lg,
.dd-landing .container-md,
.dd-landing .container-sm,
.dd-landing .container-xl,
.dd-landing .container-xxl {
  padding-right: 15px;
  padding-left: 15px;
}

.dd-landing .row {
  --bs-gutter-x: 15px;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.dd-landing .row > * {
  padding-right: 15px;
  padding-left: 15px;
}
/* Header Navigation - start */
.dd-landing .navbar {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  padding: 0;
}
.dd-landing .nav-item .nav-link {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.dd-landing .navbar-nav .nav-item {
  margin: 0 32px 0 0;
  position: relative;
}
.dd-landing .navbar-light .navbar-nav .nav-link {
  color: #000;
}
.dd-landing .navbar-light .navbar-nav .nav-link:focus,
.dd-landing .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.dd-landing .navbar-light .navbar-nav .nav-item::after {
  content: "";
  opacity: 0;
  width: 0px;
  left: 50%;
  bottom: 0;
  height: 4px;
  position: absolute;
  background-color: #ffd100;
  transition: all ease-in-out 0.2s;
}
.dd-landing .navbar-light .navbar-nav .nav-item:focus::after,
.dd-landing .navbar-light .navbar-nav .nav-item:hover::after,
.dd-landing .navbar-light .navbar-nav .nav-item.active::after {
  width: 100%;
  left: 0;
  opacity: 1;
}
.dd-landing .navbar-light .navbar-nav .active > .nav-link,
.dd-landing .navbar-light .navbar-nav .nav-link.active,
.dd-landing .navbar-light .navbar-nav .nav-link.show,
.dd-landing .navbar-light .navbar-nav .show > .nav-link {
  color: #000;
}
.dd-landing .navbar-light .navbar-toggler {
  color: #000;
  padding: 0;
  font-size: 1.25rem;
  border: none;
}
.dd-landing .navbar-light .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dd-landing .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.dd-landing .navbar-toggler-menu-icon {
  width: 30px;
  height: 24px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.dd-landing .navbar-toggler-menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.dd-landing .navbar-toggler-menu-icon span {
  background: #000;
}
.dd-landing .navbar-toggler-menu-icon.open span {
  background: #ffd100;
}
.dd-landing .navbar-toggler-menu-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.dd-landing .navbar-toggler-menu-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.dd-landing .navbar-toggler-menu-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.dd-landing .navbar-toggler-menu-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.dd-landing .navbar-toggler-menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.dd-landing .navbar-toggler-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/* Header Navigation - end */

/* Button - start */
.dd-landing .btn-primary {
  padding: 12px 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(255, 209, 0, 0.2);
  -moz-box-shadow: 0 3px 6px 0 rgba(255, 209, 0, 0.2);
  box-shadow: 0 3px 6px 0 rgba(255, 209, 0, 0.2);
  background: #ffd100;
  font-family: "roboto";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  border: none;
}
.dd-landing .btn-primary:not(:disabled):not(.disabled).active,
.dd-landing .btn-primary:not(:disabled):not(.disabled):active,
.dd-landing .show > .btn-primary.dropdown-toggle,
.dd-landing .btn-primary:not(:disabled):not(.disabled):hover {
  color: #000;
  background: #ffd100;
  border: none;
  box-shadow: 0 10px 20px 0 rgba(255, 209, 0, 0.2);
  -webkit-box-shadow: 0 10px 20px 0 rgba(255, 209, 0, 0.2);
  -moz-box-shadow: 0 10px 20px 0 rgba(255, 209, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(255, 209, 0, 0.2);
}
/* Button - end */

/* Middle content - Start */
.dd-landing .middle-container {
  padding: 72px 0;
  background: url(../assets/images/banner-artwork-top.png) left top no-repeat,
    url(../assets/images/banner-artwork.png) bottom no-repeat;
  /* border-bottom: 3px solid #ffd100; */
  flex: 1 1 auto;
}

.dd-landing .showcase {
  padding: 72px 0;
  background: url(../assets/images/banner-artwork-top.png) left top no-repeat,
    url(../assets/images/banner-artwork.png) bottom no-repeat;
  border-bottom: 1px solid #b5b6c8;
  flex: 1 1 auto;
}
.dd-landing .showcase .container {
  position: relative;
  z-index: 0;
}
.dd-landing .showcase .container::after {
  content: "";
  background: url(../assets/images/banner-dots.png) no-repeat;
  position: absolute;
  z-index: -1;
  right: -90px;
  top: 50px;
  width: 167px;
  height: 95px;
}
.dd-landing .showcase .heading-1 {
  font-family: "gilroyextrabold";
  font-size: 56px;
  font-weight: 800;
  line-height: 1.21;
  color: #222541;
}
.dd-landing .showcase p {
  font-size: 24px;
}
.dd-landing .showcase .btn-primary {
  margin-bottom: 24px;
}
.dd-landing .showcase .slick-list {
  box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
}

.dd-landing .showcase .slide {
  position: relative;
}

.dd-landing .showcase .slide:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 12px;
  background-color: #ffd100;
}

.dd-landing .pd-t-b-120 {
  padding: 120px 0;
}

.dd-landing .how-it-works-contents .card {
  height: 520px;
  border: none;
}

.how-it-works-contents .slick-list .slick-slide:not(:last-child) {
  margin-right: 30px;
}

.dd-landing .how-it-works .card-title {
  font-family: "gilroyextrabold";
  font-size: 24px;
  line-height: 1.21;
  color: #222541;
}
.dd-landing .how-it-works .card-body {
  border: 1px solid #b5b6c8;
  border-top: none;
  padding: 43px 28px 28px;
  height: 300px;
}
.dd-landing .how-it-works .card-img,
.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dd-landing .how-it-works .card-image-wrapper {
  position: relative;
}
.dd-landing .how-it-works .card-image-icon {
  display: none;
  position: absolute;
  background-color: #ffd100;
  width: 60px;
  height: 60px;
  bottom: 8px;
  border-radius: 50%;
  text-align: center;
  left: 10px;
}
.dd-landing .how-it-works .card-image-icon img {
  height: 25px;
}
.dd-landing #locations {
  padding: 23px 0 18px;
  background-color: #eeeef9;
}
.dd-landing #locations .heading-1 {
  margin-top: 35px;
}
.dd-landing #dealers .slide {
  padding: 30px 15px;
}
.dd-landing #dealers .slide .slide-content {
  padding: 30px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
}
.dd-landing #dealers .slide p {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222541;
}
.dd-landing #dealers .slide .dealer-title {
  font-size: 16px;
  font-weight: bold;
  color: #222541;
  padding-left: 12px;
}
.dd-landing #dealers .slide .company-name {
  font-size: 12px;
  color: #222541;
  padding-left: 12px;
}
.dd-landing .stepper-wrapper {
  padding: 60px 0 32px;
}
.dd-landing .c-stepper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.dd-landing .c-stepper__col {
  flex: 1;
  position: relative;
  padding-right: 30px;
}
.dd-landing .c-stepper__item {
  text-align: center;
  width: 94px;
  margin: auto;
  height: 94px;
  background: #ffd100;
  border-radius: 50%;
}
.dd-landing .c-stepper__col:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 47px;
  width: calc(100% - 122px);
  left: calc(50% + 45px);
  height: 1px;
  background-color: #d8dae8;
  order: -1;
}
.dd-landing #partners .partners-slider-wrapper {
  padding: 64px 0 60px;
}

.dd-landing .contact-bottom-bg {
  padding: 90px 0 210px;
  background: url(../assets/images/banner-artwork-top.png) left top no-repeat,
    url(../assets/images/banner-artwork.png) bottom center no-repeat;
}
.dd-landing .heading-1 {
  font-family: "gilroyextrabold";
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #222541;
}
.dd-landing .heading-3 {
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #222541;
}
/* Middle content - End */

/* Footer - Start */
.dd-landing #footer {
  padding: 60px 0 24px;
  border-top: 3px solid #ffd100;
}

.dd-landing #footer .faq-link,
.dd-landing #footer .faq-link-separator {
  font-family: "roboto";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  display: inline-block;
}
.dd-landing #footer .faq-link-separator {
  padding: 0 15px;
}
.dd-landing #footer .footer-adv {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dd-landing #footer .footer-adv a {
  margin-right: 25px;
}
.dd-landing #footer .social-icon {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #eeeef9;
  margin: 0 0 0 16px;
  width: 36px;
  height: 36px;
  display: inline-block;
}
.dd-landing #footer .social-icon:hover {
  background-color: #ffd100;
}

.dd-landing #footer .small-text {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
}
.dd-landing #footer .small-text .small-text-link {
  text-decoration: underline;
}
.dd-landing #footer .dealer-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.dd-landing #footer .dealer-icons a {
  display: inline-block;
}
.dd-landing #footer .dealer-icons a + a {
  margin-left: 25px;
}
.dd-landing #footer .dealer-icons a:focus img,
.dd-landing #footer .dealer-icons a:hover img,
.dd-landing #footer .footer-adv a:focus img,
.dd-landing #footer .footer-adv a:hover img {
  opacity: 0.5;
}
/* Footer - End */

.dd-landing .contactus {
  width: 630px;
  margin: 0 auto;
  padding: 32px 30px 28px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  background-color: #fff;
}
.dd-landing .contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
}
.dd-landing .contact .__city {
  font-family: "gilroyextrabold";
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  color: #222541;
  margin-top: 40px;
  margin-bottom: 28px;
}
.dd-landing .contact .__left {
  padding: 32px;
  width: 370px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
}
.dd-landing .contact .__right {
  margin-left: 30px;
}

.dd-landing .contact .__list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.dd-landing .contact .contact-card {
  padding: 20px 10px 20px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9f9fe;
  font-family: Roboto;
  font-size: 20px;
  color: #222541;
  max-width: 370px;
}
.dd-landing .contact .contact-card .__salesname {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}
.dd-landing .contact .contact-card .__tel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dd-landing .contact .contact-card .__tel a {
  color: #222541;
}
.dd-landing .contact .contact-card .__tel a:hover {
  color: #0055ff;
}
.dd-landing .contact .contact-card .__email {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
}
.dd-landing .contact .contact-card .__email a {
  color: #222541;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dd-landing .contact .contact-card .__email a:hover {
  color: #0055ff;
}
.dd-landing .login {
  width: 630px;
  margin: 0 auto;
  padding: 32px 30px 28px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  box-shadow: 0 0 30px 0 rgba(0, 85, 255, 0.08);
  background-color: #fff;
}

/* Form Component - start */
.form-label {
  font-family: Roboto;
  font-size: 16px;
  color: #67687d;
}
.form-control {
  border: 1px solid #d8dad8;
  color: #000000;
  height: auto;
  padding: 10px;
  font-size: 18px;
  line-height: 1.45;
}
.form-select {
  border: 1px solid #d8dad8;
  color: #000000;
  height: auto;
  padding: 10px;
  font-size: 18px;
  line-height: 1.45;
}
/* Form Component - end */

.text-nc-3 {
  color: #67687d;
}
/* High Res desktop */
@media screen and (min-width: 1920px) {
  .dd-landing .how-it-works-contents {
    background: url(../assets/images/car.png) left top no-repeat;
  }
}
@media screen and (max-width: 1024px) {
  .dd-landing .pd-t-b-120 {
    padding: 55px 0;
  }
  .dd-landing .stepper-wrapper {
    padding: 20px 0 20px;
  }
  .dd-landing .showcase .container::after {
    /* right: -24px;
    width: 167px; */
    display: none;
  }
  .dd-landing .contact .__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .dd-landing .contact .contact-card {
    max-width: 100%;
    min-width: 1px;
  }
  .dd-landing .contact {
    align-items: stretch;
    flex-direction: column-reverse;
  }
  .dd-landing .contact .__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .dd-landing .contact .__right {
    margin-left: 0px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .dd-landing .contact .contact-card .__email {
    max-width: 270px;
  }
}

/* Desktop - start */
@media screen and (min-width: 1200px) {
  .dd-landing .container {
    max-width: 1140px;
  }
}

/* Tablet and Desktop - start */
@media screen and (min-width: 768px) {
  .dd-landing .navbar-expand-md .navbar-nav .nav-link {
    padding: 29px 0 28px;
  }
}

/* Tablet - start */
@media screen and (max-width: 991px) {
  .dd-landing .showcase .container::after {
    background: none;
    right: 0;
  }
  .dd-landing .showcase {
    padding: 24px 0;
  }
  .dd-landing .showcase .heading-1 {
    font-size: 40px;
  }
  .dd-landing .showcase p {
    font-size: 18px;
  }
  .dd-landing .stepper-wrapper {
    display: none;
  }
  .dd-landing .how-it-works .card-image-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .how-it-works-contents > .container {
    padding: 0 !important;
  }

  .dd-landing #locations .heading-1 {
    margin-top: 0px;
  }
  .dd-landing #locations .locations-content {
    margin-bottom: 24px;
  }

  .dd-landing #footer {
    padding: 24px 0;
  }
  .dd-landing .footer-dealer-info .heading-1 {
    font-size: 32px;
  }
  .dd-landing #footer .dealer-icons {
    margin-top: 24px;
    text-align: left !important;
    justify-content: flex-start;
  }
  .dd-landing #footer .dealer-icons img {
    width: 100px;
  }
}
/* Tablet - end */

/* Mobile - start */
@media screen and (max-width: 767px) {
  .dd-landing .navbar-expand-md > .container,
  .dd-landing .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .dd-landing .heading-1 {
    font-size: 32px;
  }
  .dd-landing .navbar-brand {
    padding: 15px 0 15px 15px;
    margin: 0;
  }
  .dd-landing .navbar-toggler {
    margin: 0 15px 0 0;
  }
  .dd-landing .navbar-nav {
    border-top: 1px solid #eeeef9;
  }
  .dd-landing .navbar-nav .nav-item {
    margin: 0;
    border-bottom: 1px solid #eeeef9;
  }
  .dd-landing .navbar-light .navbar-nav .nav-item:focus::after,
  .dd-landing .navbar-light .navbar-nav .nav-item:hover::after,
  .dd-landing .nav-item.active::after {
    display: none;
  }
  .dd-landing .navbar-light .navbar-nav .active > .nav-link,
  .dd-landing .navbar-light .navbar-nav .nav-link.active,
  .dd-landing .navbar-light .navbar-nav .nav-link.show,
  .dd-landing .navbar-light .navbar-nav .show > .nav-link {
    background-color: #ffd100;
  }
  .dd-landing .navbar-nav .nav-link {
    padding: 15px;
  }
  .dd-landing .signup-btn {
    margin: 15px;
  }
  .dd-landing .pd-t-b-120 {
    padding: 40px 0;
  }

  .dd-landing .showcase {
    padding: 10px 0;
  }

  .dd-landing .showcase .heading-1 {
    font-size: 36px;
  }
  .dd-landing .showcase p {
    font-size: 18px;
  }
  .dd-landing .stepper-wrapper {
    padding: 15px 0 20px;
  }
  .dd-landing .c-stepper__col:not(:last-child)::after {
    width: calc(100% - 107px);
    left: calc(50% + 54px);
  }

  .dd-landing .how-it-works-contents .col-sm-12:not(:last-child) {
    margin-bottom: 24px;
  }
  .dd-landing .how-it-works .card-body {
    padding: 17px 12px 12px;
  }
  .dd-landing .how-it-works-contents .row {
    margin-right: -30px;
    margin-left: -30px;
  }
  .how-it-works-contents .slick-list .slick-slide:not(:last-child) {
    margin-right: 0px;
  }
  .dd-landing .how-it-works-contents .card {
    height: 490px;
  }
  .dd-landing .how-it-works-contents .card-body {
    height: 250px;
  }

  .dd-landing #footer .footer-adv {
    display: block;
  }

  .dd-landing .footer-info-dealer-icon {
    margin-bottom: 15px;
    width: 148px;
  }
  .dd-landing #footer .dealer-icons a {
    margin-bottom: 15px;
  }
  .dd-landing #footer .dealer-icons a:last-child {
    margin-bottom: 0;
  }
  .dd-landing .connect-with-us {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    padding: 15px 0 0 0px;
  }
  .dd-landing #footer .footer-link {
    border-top: 1px solid #dee2e6;
  }

  .dd-landing .middle-container {
    padding: 25px 0;
  }

  .dd-landing .contact-bottom-bg {
    padding: 25px 0 210px;
  }

  .dd-landing .contactus {
    width: 100%;
  }
  .dd-landing .contact {
    align-items: stretch;
    flex-direction: column-reverse;
  }
  .dd-landing .contact .contact-card {
    padding: 20px;
  }
  .dd-landing .contact .__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .dd-landing .contact .__right {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .dd-landing .contact .__list {
    display: block;
  }
  .dd-landing .contact-card:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .dd-landing .login {
    width: 100%;
  }
}
/* Mobile - end */
